################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/BarcodeHook/obj
/BarcodeHook/bin
/BarcodeHook/BarcodeHook.csproj.user
/Test/Test.csproj.user
/BarcodeHook/BarcodeHook.csproj.user
/Test/bin/Debug
/Test/bin/Release
/Test/obj
